# Godot-specific ignores
.godot/
!.godot/user_settings.tres
!.godot/path_remap.cfg
export.cfg
export_presets.cfg
*.translation
*.remap
*.import
*.uid

# Executables
*.exe

# Mono-specific ignores
.mono/
